*~
fort.*
GIT.commands
EarthCrust.dat
abundances.pro
Abundances.dat.ps
src16/*.o
src16/*.mod
src16/makefile
src16/ggchem16
src16/*~
Static_Conc.dat
database.dat
instructions*
paper
TEA
TEA.*
TEAout*old
ggchem*.atm
ggchem*.pdf
Summer*
JANAF/a.out
JANAF/*~
JANAF/fitout*
JANAF/*.pdf
model_*.in
