*~
fort.*
GIT.commands
EarthCrust.dat
abundances.pro
Abundances.dat.ps
src16/*.o
src16/*.mod
src16/makefile
src16/ggchem16
src16/*~
Static_*.dat
Static_*.bak
database.dat
database.bak
instructions*
paper
TEA
TEA.*
TEAout*old
ggchem*.atm
ggchem*.pdf
Summer*
JANAF/a.out
JANAF/*~
JANAF/fitout*
JANAF/*.pdf
JANAF/*fitdata*
model_*.in
kp.pdf
logfile
perform.dat
out.ps
phase*.png
